@model Movie

@using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Genre)
        <br />
        @Html.TextBoxFor(m => m.Genre)
    </div>
    <div>
        @Html.LabelFor(m => m.Year)
        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(m => m.Year)
    </div>
    <div>
        @Html.LabelFor(m => m.RunTime)
        <br />
        @Html.TextBoxFor(m => m.RunTime)
    </div>

    <input type="submit" value="Submit" />
}